*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/*/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/target/
target/m2e-wtp/web-resources/META-INF/maven/TP12-WEB-EJB-PC-EPC-E/TP12-WEB-EJB-PC-EPC-E/pom.properties
